---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalCard from "../../components/ui/HorizontalCard.astro";
---

<BaseLayout title="邻居" sideBarActiveItemID="neighbors">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">邻居</div>
  </div>

  <p class="mb-10 text-justify">
    我关注的其他数字花园和博主，这里是我的邻居们。
  </p>

  <ul>
    <li>
      <HorizontalCard
        title="邻居博客"
        img="/post_img.webp"
        desc="一位同行的数字花园。"
        url="https://example.com"
        target="_blank"
      />
      <div class="divider my-0" />
    </li>
    <li>
      <HorizontalCard
        title="灵感来源"
        img="/post_img.webp"
        desc="一个我经常能发现新点子的地方。"
        url="https://example.org"
        target="_blank"
      />
      <div class="divider my-0" />
    </li>
  </ul>
</BaseLayout>
