---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/ui/HorizontalCard.astro";
---

<BaseLayout title="Neighbors" sideBarActiveItemID="neighbors">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Neighbors</div>
  </div>

  <p class="mb-10 text-justify">
    Other digital gardens and blogs that I find inspiring.
  </p>

  <ul>
    <li>
      <HorizontalCard
        title="Neighbor Blog"
        img="/post_img.webp"
        desc="An inspiring digital garden by a fellow explorer."
        url="https://example.com"
        target="_blank"
      />
      <div class="divider my-0" />
    </li>
    <li>
      <HorizontalCard
        title="Inspiration Source"
        img="/post_img.webp"
        desc="A place where I often find new ideas."
        url="https://example.org"
        target="_blank"
      />
      <div class="divider my-0" />
    </li>
  </ul>
</BaseLayout>
